node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

/android/app/build/**
/android/.gradle/*
/android/.idea/**
/yarn-error.log
/yarn.lock
/package-lock.json
/yarn.lock
/yarn.lock
/.gradle/6.0.1/**
/android/java_pid*.hprof
node_modules
node_modules
/ios/pods
/ios/build